$orange-color: #DD3A1F;

.feeder.index{
	background-color:#0A7DB3;
	background-image: image-url("background.png");
	
	.outer-div{
		display: flex;
	    flex-direction: column;
	    justify-content: center;

	    height:100%;
	}

	.title-div{
		margin:0px 0px 50px 0px;

		.title{
			font-family: 'League Gothic';
			font-size:8em;
			color: $orange-color;
		}
	}

	.search-div{
		.form-control.search{
			height:45px;
			border-radius:1px;
			font-family: 'League Gothic';
			font-style: italic;
			font-size:1.8em;
		}

		.form-control.search:focus{
			border-color: #fff;
			box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(221, 58, 31, 0.6);
		}

		.btn.btn-search{
			border-radius:1px;
			font-family: 'League Gothic';
			font-size:1.6em;
			width:150px;
			background-color: $orange-color;
		    border-color: $orange-color;
		    color: #fff;
		    left:-17px;
		    position:relative;
		}

		.zero-margin-right{
			margin-right: 0px;
		}
	}
}
