$orange-color: #DD3A1F;
$blue-color: #0A7DB3;
$pizza-color: #F91115;
$black-transparent: rgba(10, 10, 10, 0.5);

.home.index{
	background-color: $blue-color;

	.custom-well{
		border-radius: 0px;
	}
}

@mixin background{
	background-color: $blue-color;
	background-image: image-url("background.png");
}

@mixin reset-progressbar-anim{	
	-webkit-transition: none !important;
	transition: none !important;
}

.feeder.index{
	@include background;

	.outer-div{
		display: flex;
	    flex-direction: column;
	    justify-content: center;

	    height:100%;
	}

	.title-div{
		margin:0px 0px 50px 0px;

		.title{
			font-family: 'League Gothic';
			font-size:8em;
			color: $orange-color;
		}
	}

	.search-div{
		.form-control.search{
			height:45px;
			border-radius:1px;
			font-family: 'League Gothic';
			font-style: italic;
			font-size:1.8em;
		}

		.form-control.search:focus{
			border-color: #fff;
			box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(221, 58, 31, 0.6);
		}

		.btn.btn-search{
			border-radius:1px;
			font-family: 'League Gothic';
			font-size:1.6em;
			width:150px;
			background-color: $orange-color;
		    border-color: $orange-color;
		    color: #fff;
		    left:-17px;
		    position:relative;
		}

		.zero-margin-right{
			margin-right: 0px;
		}
	}
}

.feeder.find{
	background-color: #111;
	font-family: 'League Gothic';

	.progress .progress-bar{		
		@include reset-progressbar-anim;
	}

	.panel-profile{
		padding:20px;
		margin-top:50px;
		border-radius:4px;
		height:auto;
		
		.summoner-name{
			height: 340px;
			padding-top: 50px;

			.summoner-title{
				font-size:3.0em;
				color:$orange-color;
			}
		}

		.games{
			background-color: $black-transparent;
			color:#fff;
			padding:20px;
			border-radius:2px;

			.games-title{
				text-align: center;
				font-size:2.5em;
				color:$orange-color;
			}
		}

		.game{
			font-size:1.8em;
			margin:5px 0px 5px 0px;

			.kda-stats{
				margin-left:5px;
				display: inline;
			}
		}

		.feederometer{
			background-color: $black-transparent;
			border-radius: 1px;
			margin:30px 0px 0px 0px;
			padding: 10px 50px 10px 50px;

			.feederometer-title{
				color: $orange-color;
				font-size:2.5em;
			}

			.feederometer-phrase{
				color: #fff;
				font-size:1.8em;
				font-style: italic;
			}

			.feederometer-bar{
				height: 30px;
				border-radius:1px;
				
				.custom-bar{
					line-height:100%;
					background-color: $orange-color;
				}
			}

		}

		.feederometer.feeder{			
			.feederometer-title{
				color: $pizza-color;
			}
			.feederometer-bar{
				.custom-bar{
					background-color: $pizza-color;
				}
			}
		}
	}
}

.feeder.find_team{
	background-color: #111;
	font-family: 'League Gothic';

	.progress .progress-bar{		
		@include reset-progressbar-anim;
	}
	
	.panel-team{
		margin-top:50px;
		padding:30px;
		background-color: rgba(10, 10, 10, 0.9);
		background-image: url(http://ddragon.leagueoflegends.com/cdn/img/champion/splash/Gangplank_0.jpg);
		border-radius: 2px;
		
		.summoner-info{
			background-color: rgba(10, 10, 10, 0.8);
			padding: 10px;
			margin-left: 15px;
			color: #fff;
			width:40%;
			margin: 0 auto;
			text-align: center;
			border-radius: 2px;
		}

		.summoner-img{
			vertical-align: bottom;
			height: 80px;
			width: 80px;
			margin-right: 15px;
		}

		.summoner-name{
			display:inline-block;

			h2{
				font-size: 4.5em;
				border:0 none;
				margin: 0 0 5px;
			}
		}

		.players{
			background-color: rgba(10, 10, 10, 0.6);
			margin-top:25px;
			margin-left:auto;
			margin-right:auto;
			text-align: center;
			padding:25px;

			.player{
				display:inline-block;
				margin: 0px 10px;
				padding: 10px;
				border: 1px solid #fff;
				background-color: rgba(255,255,255, 0.1);

				.header{
					margin-bottom:5px;

					img{
						margin-right:10px;
					}

					a{
						font-size:1.8em;
						color: #fff;
						text-decoration: none;
					}					
				}

				.footer{
					margin-top:10px;

					.feederometer-team-bar{
						border-radius: 1px;
						margin-bottom: 5px;

						.progress-bar{
							background-color: $orange-color;
						}
					}

					.feederometer-team-bar.feeder{
						.progress-bar{
							background-color: $pizza-color;
						}
					}

					.phrase{
						color: #fff;
						font-style: italic;
						height: 20px;
					}
				}
			}

			.player.feeder{
				border: 1px solid $pizza-color;
				background-color: rgba(249,17,21, 0.1);
			}

			.player.normal{
				border: 1px solid $orange-color;
				background-color: rgba(221,58,31, 0.1);
			}
		}
	}
}